@font-face {
  font-family: 'wijeya';
  src: url("../fonts/wijeya.TTF") format('truetype');
}

@font-face {
  font-family: 'mynerve';
  src: url("../fonts/mynerve.ttf") format('truetype');
}

@font-face {
  font-family: 'patrick';
  src: url("../fonts/patrick.ttf") format('truetype');
}

@font-face {
  font-family: 'inter';
  src: url("../fonts/inter.ttf") format('truetype');
}

@font-face {
  font-family: 'monoton';
  src: url("../fonts/monoton.ttf") format('truetype');
}

@font-face {
  font-family: 'silkscreen';
  src: url("../fonts/silkscreen.ttf") format('truetype');
}

* {
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  margin: 0;
}

p {
  color: white;
}

a {
  text-decoration: none;
}

li {
  margin: 5px;
}

h1 {
  color: #7766cc;
}

h2 {
  color: #8866bb;
}

h3 {
  color: #9955cc;
}

article {
  font-family: inter;
  color: white;
  text-align: center;
  max-width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

pre {
  background-color: black;
  color: white;
  border: solid;
  border-radius: 10px;
  padding: 10px;
}

img {
  max-width: 100%;
  max-height: auto;
  border-radius: 10px;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.container-heading {
  margin-top: 10vh;
}

.container-description {
  margin-left: 30px;
  margin-right: 30px;
}

.container-logos {
  margin-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.container-box {
  height: 90%;
  width: 90%;
  border-style: solid;
  border-color: white;
  border-radius: 25px 25px 0 0;
  border-bottom: none;
}

.container-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#container-memes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  gap: 20px;
}

.media-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monoton;
}

.meme {
  width: 300px;
  height: auto;
  border: solid;
  border-color: white;
  border-radius: 8px;
}

.meme:hover {
  transform: scale(1.1);
}

.badge {
  border-radius: 0;
}

.media-icon {
  width: 120px;
}

.heading {
  color: white;
  font-family: mynerve;
  text-align: center;
}

.quote {
  color: white;
  font-family: 'wijeya';
  font-size: 15px;
  text-decoration: none;
}

.nav {
  color: white;
  font-family: patrick;
  text-decoration: none;
}

.pimg {
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 400px;
  pointer-events: none;
}

.description {
  text-align: center;
  color: white;
  font-family: inter;
}

.postlist {
  text-align: center;
  color: white;
  list-style: none;
  font-family: inter;
}

.post, .post:active {
  color: white;
  font-family: silkscreen;
  text-decoration: none;
}

.post:visited {
  color: #5566ee;
  text-decoration: none;
}

.post:hover {
  color: white;
  background-color: #5566ee;
  text-decoration: none;
}

#nondec {
  text-decoration: none;
  color: white;
}

#white {
  color: white;
}

#thoughts-date {
  font-size: 10px;
  color: #5566ee;
}

