{% extends 'base.html' %}
{% block head %}
<title>about</title>
<meta name="description" content="ivn's about page">
{% endblock head %}
{% block content %}
<div class="container-heading">
  <h1 class="heading">curious ?</h1>
</div>
<div class="container-description">
  <p class="description">i'm a frustrated human machine that likes to code.</p>
  <p class="description">wite me</p>
  <p class="description"><a id="nondec" href="mailto:ivn@waifu.club">&quot; ivn&commat;waifu.club &quot;</a></p>
  <p class="description"><a id="white" href="{{ get_url(path="ivn.gpg") | safe }}">- PGP -</a></p>
  <p class="description" style="font-size: 40px;"><a id="nondec" href="/">&#8604;</a></p>
</div>
<div class="container-logos">
  <a href="https://landchad.net" target="_blank">
    <img class="badge" src="https://landchad.net/pix/landchad.gif" alt="LandChad.net">
  </a>
  <a href="https://www.freebsd.org" target="_blank">
    <img class="badge" src="https://www.freebsd.org/gifs/power-button.gif" alt="LandChad.net">
  </a>
  <a href="https://wiby.me" target="_blank">
    <img class="badge" src="https://wiby.me/about/wiby.gif" alt="LandChad.net">
  </a>
  <a href="https://sadgrl.online/" target="_blank">
    <img class="badge" src="https://sadgrl.online/assets/images/buttons/sadgrlonline.gif" alt="sadgrl.online">
  </a>
  <a href="https://neocities.org">
    <img class="badge" src="https://bootleg64.neocities.org/0.ASSETS/buttons/neocities_button.gif" alt="neocities.org" />
  </a>
  <a href="https://degenerates.neocities.org">
    <img class="badge" src="https://degenerates.neocities.org/images/flags/degenerateflag.png" alt="degenerates.neocities.org">
  </a>
</div>
{% endblock content %}
