{% extends "base.html" %}
{% block head %}
<title>{{ page.title | safe }}</title>
<meta name="description" content="blog post"> 
{% endblock head %}
{% block content %}
<div class="container-heading">
  <h1 class="heading">{{ page.title | safe }}</h1>
</div>
<div class="container-description">
  <p id="thoughts-date">{{ page.date | safe }}</p>
</div>
<div class="container-description">
  <article>{{ page.content | safe }}</article>
</div>
<div class="container-description">
  <p class="description" style="font-size: 40px;"><a id="nondec" href="/blog">&#8604;</a></p>
</div>
{% endblock content %}
