<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="programming, girls, music, art, pixels, personal, art, writing, directory, anime">
    <meta name="author" content="ivn">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path="css/style.css") | safe }}">
    {% block head %} {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
