{% extends "base.html" %}
{% block head %}
<title>blog</title>
<meta name="description" content="ivn's blog"> 
{% endblock head %}
{% block content %}
<div class="container-heading">
  <h1 class="heading">long posts & adventures</h1>
</div>
<div class="container-description">
  <ul class="postlist">
    {% for post in section.pages %}
    <li><a class="post" href="{{ post.permalink }}">{{ post.title }}</a></li>
    {% endfor %}
    <p class="description" style="font-size: 40px;"><a id="nondec" href="/">&#8604;</a></p>
  </ul>
</div>
<div>
  <img class="pimg" src="{{ get_url(path="img/blog.webp") | safe }}" alt="">
</div> 
{% endblock content %}
