{% extends "base.html" %}
{% block head %}
<title>ivn</title>
<meta name="description" content="ivn's webpage"> 
{% endblock head %}
{% block content %}
<div class="container-heading">
        <h1 class="heading">ivn's void</h1>
      </div>
      <div>
        <p style="margin-top: -5vh;margin-bottom: 5vh;"><a class="nav" href="/about/">about</a> | <a class="nav" href="/thoughts/">thoughts</a> | <a class="nav" href="/media/">media</a> | <a class="nav" href="/technical/">technical</a></p>
      </div>
      <div>
        <img class="pimg" src="img/vrhin.webp" alt="">
      </div>
    </div>
{% endblock content %}
