{% extends "base.html" %}
{% block head %}
<title>consumptions</title>
<meta name="description" content="ivn's consumptions">
{% endblock head %}
{% block content %}
<div class="container-heading">
  <h1 class="heading">consumptions</h1>
</div>
<div class="container-media">
  <div class="media-box">
    <img class="media-icon" src="{{ get_url(path="img/media/memes.png") | safe }}">
    <a href="/memes">memes</a>
  </div>
  <div class="media-box">
      <img class="media-icon" src="{{ get_url(path="img/media/kdrama.png") | safe }}">
      <a href="/kdrama">kdrama</a>
  </div>
  <div class="media-box">
      <img class="media-icon" src="{{ get_url(path="img/media/movies.png") | safe }}">
      <a href="movies">movies</a>
  </div>
  <div class="media-box">
      <img class="media-icon" src="{{ get_url(path="img/media/books.png") | safe }}">
      <a href="/books">books</a>
  </div>
  <div class="media-box">
      <img class="media-icon" src="{{ get_url(path="img/media/songs.png") | safe }}">
      <a href="/songs">songs</a>
  </div>
  <div class="media-box">
      <img class="media-icon" src="{{ get_url(path="img/media/documentry.png") | safe }}">
      <a href="/documentry">documentry</a>
  </div>
  <div class="media-box">
      <img class="media-icon" src="{{ get_url(path="img/media/other.png") | safe }}">
      <a href="/other">other</a>
  </div>
</div>
<div class="container-description">
  <p class="description" style="font-size: 40px;"><a id="nondec" href="/">&#8604;</a></p>
</div>
{% endblock content %}
