{% extends "base.html" %}
{% block head %}
<title>memes & vibes</title>
<meta name="description" content="ivn's vibe">
{% endblock head %}
{% block content %}
<div class="container-heading">
  <h1 class="heading">memes & vibes</h1>
</div>
<div id="container-memes">
</div>
<div class="container-description">
  <p class="description" style="font-size: 40px;"><a id="nondec" href="/">&#8604;</a></p>
</div>
<script src="{{ get_url(path="js/gallery.js") | safe }}"></script>
{% endblock content %}
