{% extends "base.html" %}
{% block head %}
<title>thoughts</title>
<meta name="description" content="ivn's thoughts"> 
{% endblock head %}
{% block content %}     
<div class="container-heading">
  <h1 class="heading">actuall void</h1>
</div>
<div class="container-description">
  <p class="description">2023</p>
  <p class="description">|</p>
  {% for page in section.pages %}
  <p class="description" id="thoughts-date">{{ page.date }}</p>
  <p class="description">" {{ page.title }} "</p>
  {% endfor %}
  <p class="description" style="font-size: 40px;"><a id="nondec" href="/">&#8604;</a></p>
</div>
<div>
  <img class="pimg" src="{{ get_url(path="img/thoughts.webp") | safe }}" alt="">
</div> 
{% endblock content %}
